[Unit]
Description=IR camera service

[Service]
ExecStart=/home/kmlee/irc_example/irc_daemon
WorkingDirectory=/home/kmlee/irc_example

[Install]
WantedBy=multi-user.target

